server.pem

config/password.csv
config/port.csv
config/favorite_private.csv
config/bucketlist.csv

memo.txt

font/*

img/profile.*
img/programmer.png
img/artist.png
img/marathoner.png
img/trader.png
img/meditation.png
img/background_*
img/bird.png

output/*

html/home.html
html/bucketlist.html
html/todo.html
html/stock.html
html/schedule.html

python/__pycache__/*
nohup.out
