config/password.csv
config/port.csv
config/favorite_private.csv

bucketlist.csv
memo.txt

img/programmer.png
img/artist.png
img/marathoner.png
img/trader.png
img/meditation.png
img/background_*
img/bird.png

todo/*
schedule/*

html/home.html
html/todo.html
html/stock.html
html/schedule.html

python/__pycache__/*
nohup.out
